# Dependencias
node_modules/
package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Temporal
tmp/
temp/
*.tmp

# Build
dist/
build/
target/

# Testing
coverage/
.nyc_output/

# Environment
.env
.env.local
.env.*.local

# Git
.husky/_/
